body {
    width: auto;
    height: auto;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

#main {
    width: 100%;
    height: auto;
    position: relative;
}

#main .img {
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: brightness(0.4);
    clip-path: polygon(50% 0%, 100% 0, 100% 84%, 52% 99%, 0 84%, 0 0);
}

.nav {
    width: 100%;
    height: auto;
    padding: 0px 800px;
    position: absolute;
    top: 05%;

}

.nav ul li {
    display: inline-block;
    padding: 0px 10px;
}

ul li a {
    color: white;
    text-decoration: none;
}
a:hover{
    color: #e74c3c;
}
.home{
    color: #e74c3c !important;
    border-bottom: 1px solid #e74c3c;
    padding-bottom: 22px;
}

.logo img {
    width: 10% !important;
    height: 30px !important;
    margin-left: 80px;
    position: absolute;
    top: 05%;
}

.content {
    width: 100%;
    height: auto;
}

.content h2 {
    color: white;
    position: absolute;
    top: 28%;
    margin-left: 43%;
}

.content h1 {
    color: white;
    position: absolute;
    top: 27%;
    margin-left: 25%;
    font-size: 70px;
    letter-spacing: 5px;
}

.content hr {
    width: 6%;
    position: absolute;
    top: 45%;
    left: 43%;
}
.content .box2{
    width: 6%;
    position: absolute;
    top: 45%;
    left: 52%;
}
.box1{
    width: 9px;
    height: 9px;
    position: absolute;
    top: 410px;
    left: 50%;
    border: 1px solid #e74c3c;
    background-color: #e74c3c;
    border-radius: 50%;
}
.content p {
    position: absolute;
    top: 48%;
    color: white;
    text-align: center;
    line-height: 25px;
    margin-left: 30%;
}

.bu {
    width: 100%;
    position: absolute;
    top: 62%;
    margin-left: 37%;

}

.bu input {
    margin: 20px;
    height: 50px;
    cursor: pointer;
}

.get {
    width: 200px;
    color: white;
    background-color: #e74c3c;
    transition: 0.5s;
    border-radius: 02px;
}

.ler {
    width: 150px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    transition: 0.5s;
    border-radius: 02px;
}

.ler:hover {
    background-color: #e74c3c;
}

input:hover {
    box-shadow: 0px 3px 0px 0px rgba(255, 245, 245, 0.2);
}
/* down arrow */

.down{
    width: 20%;
    height: 50px;
    position: relative;
    
    
}
.down1{
    position: absolute;
    /* left: 4.5%; */
    /* bottom: -2%; */
    left: 765px;
    top: -25px;
    width: 40px;
    height: 40px;
    /* line-height: 48px; */
    background: #f4f5f9;
    border-radius: 50%;
    text-align: center;
    z-index: 9;

}
.fa-arrow-down{
   position: absolute;
  top: 10px !important;
  left: -10px !important;
}






/* social */
#main2{
    width: 100%;
    height: auto;
   
}
.social{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: space-around;
    position: relative;
    
    
}
.fa{
    width: 5%;
    height: 25px;
    color: orange;
    position: relative;
    top: -50px;
    right: 5px;
    font-size: 25px !important;
    
    
    
}
.social1,.social2,.social3,.social4{
    margin-top: 5%;
    width: 30%;
    text-align: center;
}
.box:hover{
    transform: rotate(45deg);
    border: 1px solid #e74c3c;
}
.box{
    width: 80px;
    height: 80px;
    position: relative;
    border: 1px solid #888888;
    margin-left: 150px;
    transition:all 0.6s;
}
.separator3{
    height: 2px;
    width: 40px;
    margin: 20px auto;
    background: #888888;
}
 .social1:hover .sleek{
    color: #e74c3c;
}
.social2:hover .sleek{
    color: #e74c3c;
}
.social3:hover .sleek{
    color: #e74c3c;
}
.social4:hover .sleek{
    color: #e74c3c;
}