body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#main{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}
.content{
    width: 27%;
    height: 200px;
    background-color: gray;
    margin-top: 1%;
    margin-left: 5%;
    color: white;
}
h1{
    text-align: center;
    margin-top: 23%;
}
p{
    width: 23.8%;
    height: 110px;
    position: absolute;
    top: 91%;
    font-size: 19px;
    padding: 25px;
    background-color: rgb(232, 225, 225);
    color: grey;
    /* border: 2px solid black ; */  
}
.active{
    position: absolute;
    top: 320px;
    margin-left: 25px;
    color: grey;
    border: 1px solid black;
    padding: 5px 25px;
    text-decoration: none;
}
.edit{
    position: absolute;
    top: 320px;
    margin-left: 110px;
    color: grey;
    border: 1px solid black;
    padding: 5px 25px;
    text-decoration: none;
    
}
#main2{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}
.content1{
    width: 27%;
    height: 200px;
    background-color: gray;
    margin-top: 11.5%;
    margin-left: 5%;
    color: white;
}
.active1{
    position: absolute;
    top: 470px;
    margin-left: 25px;
    color: grey;
    border: 1px solid black;
    padding: 5px 25px;
    text-decoration: none;
}
.edit1 {
    position: absolute;
    top: 470px;
    margin-left: 110px;
    color: grey;
    border: 1px solid black;
    padding: 5px 25px;
    text-decoration: none;
}
